language: python
python:
  - "2.6"
  - "2.7"
env:
  - DJANGO=1.2.7
  - DJANGO=1.3.1
  - DJANGO=1.4
branches:
  only:
    - develop
install:
  - pip install Django==$DJANGO --use-mirrors
  - pip install -e . --use-mirrors
script:
  - python setup.py test